.slide-bar {
  background-image: url(/src/images/slider/slide-img-1.jpg);
  height: 390px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 40px;
  }

  @include on-small-desktop {
    height: 680px;
    padding-inline: 78px;
  }

  @include on-desktop {
    padding-inline: 48px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
    padding-top: 250px;
  }

  &__button {
    display: block;
    height: 32px;
    width: 32px;
    background-size: cover;
    background-position: center;

    &--left {
      background-image: url(/src/images/slider/arrow-left.svg);
    }

    &--right {
      background-image: url(/src/images/slider/arrow-right.svg);
    }
  }

  &__title {
    margin: 0;
    margin-top: 16px;
    text-align: left;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
  }

  &__text {
    margin: 0;
    margin-top: 8px;
    text-align: left;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}
