.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

  &__block {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__logo {
    @include hover(transform, scale(1.2));
  }

  &__icon {
    display: block;
    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;

    @include hover(transform, scale(1.2));

    &--menu {
      background-image: url(/src/images/icons/icon-menu.svg);
    }
  }

  &__hire-us {
    position: relative;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    @include hover(transform, scale(1.2));

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 2px;
      width: 100%;
      background-color: $main-blue;
      border-radius: 4px;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
